#map {
  width: 100%;
  height: 400px;
}

#controls {
  margin-top: 20px;
  text-align: center;
}

#sliderCaja {
  position: relative;
  width: 50%;
  height: 30px;
  background-color: black;
  margin-top: 10px;
  padding: 20px;
}

#sliderValueMin,
#sliderValueMax {
  position: absolute;
  color: white;
  font-size: 12px;
}

#sliderValueMin {
  left: 0;
  top: 70%;
  transform: translateY(-50%);
}

#sliderValueMax {
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}

#slider {
  width: 100%;
  height: 30%;
  -webkit-appearance: auto;
  background-color: white;
  outline: none;
  margin: 100;
  padding: 100;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
  background-color: #fd5c63;
}

#slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

#slider::-moz-range-thumb:hover {
  background-color: #ccc;
}
.sliderLabel {
  cursor: pointer;
}